<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Report Generation</h1>

    <a href="/download_attendance_report">
        Download Attendance Report
    </a>

    <br><br>

    <a href="/download_low_attendance_report">
        Download Low Attendance Report
    </a>

    <br><br>

    <a href="/download_achievement_report">
        Download Achievement Report
    </a>

    <br><br>

    <a href="/">Back to Home</a>
    </div>
</body>
</html>